<div class="student-courses">
  <div class="test"><div class="texter"><b>i</b> Optional: Enter Course Section information if this request includes Adds/Drops/Transfers.</div></div>
  
    <table class="student-courses__table">
      
      <tbody>
        <tr>
          <td>BACC</td>
          <td>152</td>
          <td>0LC</td>
          <td>Register Online</td>
          <td>LEC</td>
          <td>-1676</td>
          <td><div class="dropdown">
            <select class="dropdown__menu">
              <option value="" selected>Select One</option>
              <option value="option1">Add</option>
              <option value="option2">Drop</option>
              <option value="option3">Transfer</option>
            </select>
            <button class="dropdown__button">Options</button>
          </div></td>
        </tr>
        <tr>
          <td>BECN</td>
          <td>150</td>
          <td>0LA</td>
          <td>Register Online</td>
          <td>LEC</td>
          <td>-1811</td>
          <td><div class="dropdown">
            <select class="dropdown__menu">
              <option value="" selected>Select One</option>
              <option value="option1">Add</option>
              <option value="option2">Drop</option>
              <option value="option3">Transfer</option>
            </select>
            <button class="dropdown__button">Options</button>
          </div></td>
        </tr>
        <tr>
          <td>BLAW</td>
          <td>150</td>
          <td>0LA</td>
          <td>Register Online</td>
          <td>LEC</td>
          <td>-2031</td>
          <td><div class="dropdown">
            <select class="dropdown__menu">
              <option value="" selected>Select One</option>
              <option value="option1">Add</option>
              <option value="option2">Drop</option>
              <option value="option3">Transfer</option>
            </select>
            <button class="dropdown__button">Options</button>
          </div></td>
        </tr>
        <tr>
          <td>BMGT</td>
          <td>152</td>
          <td>0LC</td>
          <td>Register Online</td>
          <td>LEC</td>
          <td>-2102</td>
          <td><div class="dropdown">
            <select class="dropdown__menu">
              <option value="" selected>Select One</option>
              <option value="option1">Add</option>
              <option value="option2">Drop</option>
              <option value="option3">Transfer</option>
            </select>
            <button class="dropdown__button">Options</button>
          </div></td>
        </tr>
        <tr>
          <td>ESOL</td>
          <td>200</td>
          <td>N3C</td>
          <td>Register Online</td>
          <td>HYB</td>
          <td>-3474</td>
          <td><div class="dropdown">
            <select class="dropdown__menu">
              <option value="" selected>Select One</option>
              <option value="option1">Add</option>
              <option value="option2">Drop</option>
              <option value="option3">Transfer</option>
            </select>
            <button class="dropdown__button">Options</button>
          </div></td>
        </tr>
        <tr>
          <td>MKTG</td>
          <td>150</td>
          <td>0LB</td>
          <td>Register Online</td>
          <td>LEC</td>
          <td>-5009</td>
          <td><div class="dropdown">
            <select class="dropdown__menu">
              <option value="" selected>Select One</option>
              <option value="option1">Add</option>
              <option value="option2">Drop</option>
              <option value="option3">Transfer</option>
            </select>
            <button class="dropdown__button">Options</button>
          </div></td>
        </tr>

      </tbody>
    </table>
    <div class="student-notes">
      <div class="student-notes__row">
        <div class="student-notes__col">
          <h4 class="student-notes__sub-title">Course Code</h4>
          <input type="text" class="student-notes__textbox">
        </div>
        <div class="student-notes__col">
          <h4 class="student-notes__sub-title">CRN</h4>
          <div class="student-notes__search">
            <input type="text" class="student-notes__textbox">
            <button class="student-notes__search-button">Search</button>
      </div>
    </div>
      
    
      
  </div>
  