<div class="student-courses">
  <div class="test"><p>Optional: Enter Course Section information if this request includes Adds/Drops/Transfers.</p></div>
  
    <table class="student-courses__table">
      
      <tbody>
        <tr>
          <td>BACC</td>
          <td>152</td>
          <td>0LC</td>
          <td>Register Online</td>
          <td>LEC</td>
          <td>-1676</td>
        </tr>
        <tr>
          <td>BACC</td>
          <td>152</td>
          <td>0LC</td>
          <td>Register Online</td>
          <td>LEC</td>
          <td>-1676</td>
        </tr>
        <tr>
          <td>BACC</td>
          <td>152</td>
          <td>0LC</td>
          <td>Register Online</td>
          <td>LEC</td>
          <td>-1676</td>
        </tr>
        <tr>
          <td>BACC</td>
          <td>152</td>
          <td>0LC</td>
          <td>Register Online</td>
          <td>LEC</td>
          <td>-1676</td>
        </tr>
        <tr>
          <td>BACC</td>
          <td>152</td>
          <td>0LC</td>
          <td>Register Online</td>
          <td>LEC</td>
          <td>-1676</td>
        </tr>
        <tr>
          <td>BACC</td>
          <td>152</td>
          <td>0LC</td>
          <td>Register Online</td>
          <td>LEC</td>
          <td>-1676</td>
        </tr>

      </tbody>
    </table>
    <div class="student-notes">
        <div class="student-notes__row">
          <div class="student-notes__col">
            <h4 class="student-notes__sub-title">Course Code</h4>
            <textarea class="student-notes__textarea"></textarea>
          </div>
          <div class="student-notes__col">
            <h4 class="student-notes__sub-title">CRN</h4>
            <textarea class="student-notes__textarea"></textarea>
            <button class="student-notes__button">+</button>
          </div>
        </div>
       
      </div>
      
    
      
  </div>
  