.header {
  background-color: rgb(29, 164, 188);
  color: #fff;
  display: flex; /* add display flex to header to allow for positioning of items */
  align-items: center; /* align items to the center vertically */
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.header-nav-brand {
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  margin-left: 20px; /* add margin to the left to create space between logo and text */
}

.header-nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav-menu-item {
  margin-left: 20px;
}

.header-nav-menu-item a {
  color: #fff;
  text-decoration: none;
}

.header__image {
  max-height: 100%; /* Set the max-height to 100% so the image doesn't exceed the banner height */
  width: auto; /* Set the width to auto so it maintains the aspect ratio */
  object-fit: cover;
  margin-right: 10px; /* Add margin to the right to create space between logo and text */
}

.header {
  height: 70px; /* Set the height of the header */
}

.header__content {
  display: flex; /* Set the display to flex so the elements inside are aligned */
  align-items: center; /* Vertically align the logo and navigation elements */
  height: 100%; /* Set the height to 100% so it fills the header */
}
