<style>
  .module-container {
    max-width: 85%;
    margin: 0 auto;
    padding: 0 15px;
  }
</style>

<section>
  <div
    class="module-container"
    style="
      background-color: #ffffff;
      border-radius: 10px;
      padding-top: 2px;
      padding-bottom: 20px;
    "
  >
    <div class="student-courses">
      <fieldset>
        <legend>
          <div
            class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3"
            style="max-width: 100%"
          >
            <i class="fas fa-info-circle"></i>
            <span>
              Optional: Enter Course Section information if this request
              includes Adds/Drops/Transfers.</span
            >
          </div>
        </legend>
        <h6>
          <table class="table table-striped table-bordered table-hover">
            <tbody>
              <tr *ngFor="let course of courses; let i = index">
                <td class="text-center" style="padding: 10px; width: 150px">
                  {{ course.name }}
                </td>
                <td class="text-center" style="padding: 10px; width: 150px">
                  {{ course.code }}
                </td>
                <td class="text-center" style="padding: 10px; width: 150px">
                  0LC
                </td>

                <td class="text-center" style="padding: 10px; width: 250px">
                  Register Online
                </td>
                <td class="text-center" style="padding: 10px; width: 150px">
                  LEC
                </td>
                <td class="text-center" style="padding: 10px; width: 150px">
                  152
                </td>
                <td style="padding: 10px; display: flex">
                  <div style="flex: 0.5">
                    <div class="btn-group">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                      >
                        {{ selectedActions[i]?.action }}
                      </button>

                      <div
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton"
                      >
                        <a
                          class="dropdown-item"
                          href="#"
                          (click)="
                            $event.preventDefault();
                            selectedActions[i] = {
                              action: 'Choose one',
                              disabled: false
                            }
                          "
                          >Choose one</a
                        >

                        <a
                          class="dropdown-item"
                          href="#"
                          (click)="
                            $event.preventDefault();
                            selectedActions[i] = {
                              action: 'Drop',
                              disabled: false
                            }
                          "
                          >Drop</a
                        >
                        <a
                          class="dropdown-item"
                          href="#"
                          (click)="
                            $event.preventDefault();
                            selectedActions[i] = {
                              action: 'Transfer',
                              disabled: false
                            }
                          "
                          >Transfer</a
                        >
                      </div>
                    </div>
                  </div>

                  <form
                    #transferForm="ngForm"
                    *ngIf="
                      selectedActions[i]?.action === 'Transfer' ||
                      selectedActions[i]?.action === 'Drop'
                    "
                    (ngSubmit)="
                      handleTransferSubmit(
                        selectedActions[i].action,
                        transferForm.value.transferCrn,
                        transferForm.value.transferCourseCode,
                        course.code,
                        course.name
                      )
                    "
                  >
                    <div style="display: flex">
                      <input
                        type="text"
                        class="input-group-text"
                        name="transferCrn"
                        placeholder="CRN"
                        ngModel
                        style="width: 70px; margin-right: 5px"
                        *ngIf="selectedActions[i]?.action === 'Transfer'"
                      />
                      <input
                        type="text"
                        class="input-group-text"
                        name="transferCourseCode"
                        ngModel
                        placeholder="Code"
                        style="width: 70px; margin-right: 5px"
                        *ngIf="selectedActions[i]?.action === 'Transfer'"
                      />
                      <button class="btn btn-success" type="submit">+</button>
                    </div>
                  </form>

                  <br /><br />
                </td>
              </tr>
            </tbody>
          </table>
        </h6>
      </fieldset>
      <h6>
        <table class="table table-striped table-hover" style="width: 50%">
          <thead>
            <tr>
              <th>Action</th>
              <th>Course Code</th>
              <th>CRN</th>
              <th>Transfer to</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let action of actionsTaken; let i = index">
              <td>{{ action.action }}</td>
              <td>{{ action.oldCourseCode }}</td>
              <td>{{ action.oldCrn }}</td>
              <td>{{ action.newCourseCode }}</td>
              <td>
                <button class="btn btn-danger" (click)="deleteAction(i)">
                  X
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </h6>

      <div class="student-notes">
        <div class="student-notes__row">
          <div class="student-notes__col">
            <label for="course-code" class="student-notes__sub-title"
              >Course Code</label
            >
            <input
              type="text"
              id="course-code"
              class="student-notes__textbox"
              #courseCode
            />
          </div>
          <div class="student-notes__col">
            <label for="crn" class="student-notes__sub-title">CRN</label>
            <div class="student-notes__search">
              <input type="text" id="crn" class="student-notes__textbox" #crn />
              <button
                class="btn btn-primary student-notes__search-button"
                (click)="handleAddSubmit(courseCode.value, crn.value)"
              >
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
