<style>
  .module-container {
    max-width: 85%;
    margin: 0 auto;
    padding: 0 15px;
  }
</style>
<section>
  <div
    class="module-container"
    style="
      background-color: #ffffff;
      border-radius: 10px;
      padding-top: 2px;
      padding-bottom: 20px;
    "
  >
    <div class="student-courses">
      <fieldset>
        <legend>
          <div
            class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3"
            style="max-width: 80%"
          >
            <i class="fas fa-info-circle"></i>
            <span>
              Optional: Enter Course Section information if this request
              includes Adds/Drops/Transfers.</span
            >
          </div>
        </legend>
        <h6>
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <td class="text-center" style="padding: 10px">BACC</td>
                <td class="text-center" style="padding: 10px">152</td>
                <td class="text-center" style="padding: 10px">0LC</td>
                <td class="text-center" style="padding: 10px">
                  Register Online
                </td>
                <td class="text-center" style="padding: 10px">LEC</td>
                <td class="text-center" style="padding: 10px">-1676</td>
                <td class="text-center" style="padding: 10px">
                  <select name="action" id="action">
                    <option value="volvo">Choose one</option>
                    <option value="saab">Drop</option>
                    <option value="opel">Transfer</option>
                  </select>
                  <br /><br />
                </td>
              </tr>
              <tr>
                <td class="text-center" style="padding: 10px">BACC</td>
                <td class="text-center" style="padding: 10px">152</td>
                <td class="text-center" style="padding: 10px">0LC</td>
                <td class="text-center" style="padding: 10px">
                  Register Online
                </td>
                <td class="text-center" style="padding: 10px">LEC</td>
                <td class="text-center" style="padding: 10px">-1676</td>
                <td class="text-center" style="padding: 10px">
                  <select name="action" id="action">
                    <option value="volvo">Choose one</option>
                    <option value="saab">Drop</option>
                    <option value="opel">Transfer</option>
                  </select>
                  <br /><br />
                </td>
              </tr>
              <tr>
                <td class="text-center" style="padding: 10px">BACC</td>
                <td class="text-center" style="padding: 10px">152</td>
                <td class="text-center" style="padding: 10px">0LC</td>
                <td class="text-center" style="padding: 10px">
                  Register Online
                </td>
                <td class="text-center" style="padding: 10px">LEC</td>
                <td class="text-center" style="padding: 10px">-1676</td>
                <td class="text-center" style="padding: 10px">
                  <select name="action" id="action">
                    <option value="volvo">Choose one</option>
                    <option value="saab">Drop</option>
                    <option value="opel">Transfer</option>
                  </select>
                  <br /><br />
                </td>
              </tr>
              <tr>
                <td class="text-center" style="padding: 10px">BACC</td>
                <td class="text-center" style="padding: 10px">152</td>
                <td class="text-center" style="padding: 10px">0LC</td>
                <td class="text-center" style="padding: 10px">
                  Register Online
                </td>
                <td class="text-center" style="padding: 10px">LEC</td>
                <td class="text-center" style="padding: 10px">-1676</td>
                <td class="text-center" style="padding: 10px">
                  <select name="action" id="action">
                    <option value="volvo">Choose one</option>
                    <option value="saab">Drop</option>
                    <option value="opel">Transfer</option>
                  </select>
                  <br /><br />
                </td>
              </tr>
              <tr>
                <td class="text-center" style="padding: 10px">BACC</td>
                <td class="text-center" style="padding: 10px">152</td>
                <td class="text-center" style="padding: 10px">0LC</td>
                <td class="text-center" style="padding: 10px">
                  Register Online
                </td>
                <td class="text-center" style="padding: 10px">LEC</td>
                <td class="text-center" style="padding: 10px">-1676</td>
                <td class="text-center" style="padding: 10px">
                  <select name="action" id="action">
                    <option value="volvo">Choose one</option>
                    <option value="saab">Drop</option>
                    <option value="opel">Transfer</option>
                  </select>
                  <br /><br />
                </td>
              </tr>
              <tr>
                <td class="text-center" style="padding: 10px">BACC</td>
                <td class="text-center" style="padding: 10px">152</td>
                <td class="text-center" style="padding: 10px">0LC</td>
                <td class="text-center" style="padding: 10px">
                  Register Online
                </td>
                <td class="text-center" style="padding: 10px">LEC</td>
                <td class="text-center" style="padding: 10px">-1676</td>
                <td class="text-center" style="padding: 10px">
                  <select name="action" id="action">
                    <option value="volvo">Choose one</option>
                    <option value="saab">Drop</option>
                    <option value="opel">Transfer</option>
                  </select>
                  <br /><br />
                </td>
              </tr>
            </tbody>
          </table>
        </h6>
      </fieldset>

      <div class="student-notes">
        <div class="student-notes__row">
          <div class="student-notes__col">
            <label for="course-code" class="student-notes__sub-title">Course Code</label>
            <input type="text" id="course-code" class="student-notes__textbox">
          </div>
          <div class="student-notes__col">
            <label for="crn" class="student-notes__sub-title">CRN</label>
            <div class="student-notes__search">
              <input type="text" id="crn" class="student-notes__textbox">
              <button class="student-notes__search-button">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
