<div style="padding-left: 3%; padding-right: 3%">
  <div class="student-courses">
    <div class="test">
      <p>
        Optional: Enter Course Section information if this request includes
        Adds/Drops/Transfers.
      </p>
    </div>
    <h5>
      <table class="table table-striped table-hover">
        <tbody>
          <tr>
            <td class="text-center" style="padding: 20px">BACC</td>
            <td class="text-center" style="padding: 20px">152</td>
            <td class="text-center" style="padding: 20px">0LC</td>
            <td class="text-center" style="padding: 20px">Register Online</td>
            <td class="text-center" style="padding: 20px">LEC</td>
            <td class="text-center" style="padding: 20px">-1676</td>
            <td class="text-center" style="padding: 20px">
              <select name="action" id="action">
                <option value="volvo">Choose one</option>
                <option value="saab">Drop</option>
                <option value="opel">Transfer</option>
              </select>
              <br /><br />
            </td>
          </tr>
          <tr>
            <td class="text-center" style="padding: 20px">BACC</td>
            <td class="text-center" style="padding: 20px">152</td>
            <td class="text-center" style="padding: 20px">0LC</td>
            <td class="text-center" style="padding: 20px">Register Online</td>
            <td class="text-center" style="padding: 20px">LEC</td>
            <td class="text-center" style="padding: 20px">-1676</td>
            <td class="text-center" style="padding: 20px">
              <select name="action" id="action">
                <option value="volvo">Choose one</option>
                <option value="saab">Drop</option>
                <option value="opel">Transfer</option>
              </select>
              <br /><br />
            </td>
          </tr>
          <tr>
            <td class="text-center" style="padding: 20px">BACC</td>
            <td class="text-center" style="padding: 20px">152</td>
            <td class="text-center" style="padding: 20px">0LC</td>
            <td class="text-center" style="padding: 20px">Register Online</td>
            <td class="text-center" style="padding: 20px">LEC</td>
            <td class="text-center" style="padding: 20px">-1676</td>
            <td class="text-center" style="padding: 20px">
              <select name="action" id="action">
                <option value="volvo">Choose one</option>
                <option value="saab">Drop</option>
                <option value="opel">Transfer</option>
              </select>
              <br /><br />
            </td>
          </tr>
          <tr>
            <td class="text-center" style="padding: 20px">BACC</td>
            <td class="text-center" style="padding: 20px">152</td>
            <td class="text-center" style="padding: 20px">0LC</td>
            <td class="text-center" style="padding: 20px">Register Online</td>
            <td class="text-center" style="padding: 20px">LEC</td>
            <td class="text-center" style="padding: 20px">-1676</td>
            <td class="text-center" style="padding: 20px">
              <select name="action" id="action">
                <option value="volvo">Choose one</option>
                <option value="saab">Drop</option>
                <option value="opel">Transfer</option>
              </select>
              <br /><br />
            </td>
          </tr>
          <tr>
            <td class="text-center" style="padding: 20px">BACC</td>
            <td class="text-center" style="padding: 20px">152</td>
            <td class="text-center" style="padding: 20px">0LC</td>
            <td class="text-center" style="padding: 20px">Register Online</td>
            <td class="text-center" style="padding: 20px">LEC</td>
            <td class="text-center" style="padding: 20px">-1676</td>
            <td class="text-center" style="padding: 20px">
              <select name="action" id="action">
                <option value="volvo">Choose one</option>
                <option value="saab">Drop</option>
                <option value="opel">Transfer</option>
              </select>
              <br /><br />
            </td>
          </tr>
          <tr>
            <td class="text-center" style="padding: 20px">BACC</td>
            <td class="text-center" style="padding: 20px">152</td>
            <td class="text-center" style="padding: 20px">0LC</td>
            <td class="text-center" style="padding: 20px">Register Online</td>
            <td class="text-center" style="padding: 20px">LEC</td>
            <td class="text-center" style="padding: 20px">-1676</td>
            <td class="text-center" style="padding: 20px">
              <select name="action" id="action">
                <option value="volvo">Choose one</option>
                <option value="saab">Drop</option>
                <option value="opel">Transfer</option>
              </select>
              <br /><br />
            </td>
          </tr>
        </tbody>
      </table>
    </h5>

    <div class="student-notes">
      <div class="student-notes__row">
        <div class="student-notes__col">
          <h4 class="student-notes__sub-title">Course Code</h4>
          <textarea class="student-notes__textarea"></textarea>
        </div>
        <div class="student-notes__col">
          <h4 class="student-notes__sub-title">CRN</h4>
          <textarea class="student-notes__textarea"></textarea>
          <button class="student-notes__button">+</button>
        </div>
      </div>
    </div>
  </div>
</div>
