<div class="last-section">
    <div class="last-section__header">Evaluation Criteria</div>
    <div class="last-section__content">
      <div class="last-section__checkbox-grid">
        <div class="last-section__row">
          <div class="last-section__col">
            <input type="checkbox" class="last-section__checkbox" id="criteria-1">
            <label for="criteria-1" class="last-section__label">Criteria 1</label>
          </div>
          <div class="last-section__col">
            <input type="checkbox" class="last-section__checkbox" id="criteria-2">
            <label for="criteria-2" class="last-section__label">Criteria 2</label>
          </div>
          <div class="last-section__col">
            <input type="checkbox" class="last-section__checkbox" id="criteria-3">
            <label for="criteria-3" class="last-section__label">Criteria 3</label>
          </div>
        </div>
        <div class="last-section__row">
          <div class="last-section__col">
            <input type="checkbox" class="last-section__checkbox" id="criteria-4">
            <label for="criteria-4" class="last-section__label">Criteria 4</label>
          </div>
          <div class="last-section__col">
            <input type="checkbox" class="last-section__checkbox" id="criteria-5">
            <label for="criteria-5" class="last-section__label">Criteria 5</label>
          </div>
          <div class="last-section__col">
            <input type="checkbox" class="last-section__checkbox" id="criteria-6">
            <label for="criteria-6" class="last-section__label">Criteria 6</label>
          </div>
        </div>
      </div>
      <div class="last-section__textarea-wrapper">
        <div class="last-section__textarea-header">Comments</div>
        <textarea class="last-section__textarea"></textarea>
      </div>
      <div class="last-section__buttons">
        <button class="last-section__button">Create SAF</button>
        <button class="last-section__button">Cancel</button>
      </div>
    </div>
  </div>
  