<div class="last-section">
  <div class="last-section__content">
    <div class="last-section__checkbox-grid">
      <div class="last-section__row">
        <div class="last-section__col">
          <input type="checkbox" class="last-section__checkbox" id="criteria-1">
          <label for="criteria-1" class="last-section__label">Academic Standing Change</label>
        </div>
        <div class="last-section__col">
          <input type="checkbox" class="last-section__checkbox" id="criteria-2">
          <label for="criteria-2" class="last-section__label">Admissions</label>
        </div>
        <div class="last-section__col">
          <input type="checkbox" class="last-section__checkbox" id="criteria-3">
          <label for="criteria-3" class="last-section__label">Apply/Remove Holds</label>
        </div>
      </div>
      <div class="last-section__row">
        <div class="last-section__col">
          <input type="checkbox" class="last-section__checkbox" id="criteria-4">
          <label for="criteria-4" class="last-section__label">Duplicate Person</label>
        </div>
        <div class="last-section__col">
          <input type="checkbox" class="last-section__checkbox" id="criteria-5">
          <label for="criteria-5" class="last-section__label">Grade Change</label>
        </div>
        <div class="last-section__col">
          <input type="checkbox" class="last-section__checkbox" id="criteria-6">
          <label for="criteria-6" class="last-section__label">Graduation</label>
        </div>
      </div>
    </div>
    <br>
    <div class="last-section__textarea-wrapper">
      <div class="last-section__textarea-header">Comments</div>
      <textarea class="last-section__textarea"></textarea>
    </div>
    <div class="last-section__buttons">
      <button class="last-section__button">Create SAF</button>
      <button class="last-section__button">Cancel</button>
    </div>
  </div>
</div>
