<div class="last-section">
  <div class="last-section__content">
    <div class="last-section__checkbox-grid">
      <div class="last-section__row">
        <div class="last-section__col">
          <input type="checkbox" class="last-section__checkbox" id="criteria-1">
          <label for="criteria-1" class="last-section__label">Academic Standing Change</label>
        </div>
        <div class="last-section__col">
          <input type="checkbox" class="last-section__checkbox" id="criteria-2">
          <label for="criteria-2" class="last-section__label">Admissions</label>
        </div>
        <div class="last-section__col">
          <input type="checkbox" class="last-section__checkbox" id="criteria-3">
          <label for="criteria-3" class="last-section__label">Apply/Remove Holds</label>
        </div>
        <div class="last-section__col">
          <input type="checkbox" class="last-section__checkbox" id="criteria-7">
          <label for="criteria-7" class="last-section__label">Duplicate Person</label>
        </div>
        <div class="last-section__col">
          <input type="checkbox" class="last-section__checkbox" id="criteria-8">
          <label for="criteria-8" class="last-section__label">Grade Change</label>
        </div>
        <div class="last-section__col">
          <input type="checkbox" class="last-section__checkbox" id="criteria-9">
          <label for="criteria-9" class="last-section__label">Graduation</label>
        </div>
        </div>
        <div class="last-section__row">
          <div class="last-section__col">
            <input type="checkbox" class="last-section__checkbox" id="criteria-1">
            <label for="criteria-1" class="last-section__label">Registration</label>
          </div>
          <div class="last-section__col">
            <input type="checkbox" class="last-section__checkbox" id="criteria-2">
            <label for="criteria-2" class="last-section__label">Resume/Transfer</label>
          </div>
          <div class="last-section__col">
            <input type="checkbox" class="last-section__checkbox" id="criteria-3">
            <label for="criteria-3" class="last-section__label">Trascript Requests (for historical records only)</label>
          </div>
          <div class="last-section__col">
            <input type="checkbox" class="last-section__checkbox" id="criteria-7">
            <label for="criteria-7" class="last-section__label">Withdraw from Current Program</label>
          </div>
          <div class="last-section__col">
            <input type="checkbox" class="last-section__checkbox" id="criteria-8">
            <label for="criteria-8" class="last-section__label">Other (Describe Below)</label>
          </div>
          <div class="last-section__col_leave">
            <div class="checkbox-with-dropdown">
              <input type="checkbox" class="last-section__checkbox" id="criteria-9">
              <label for="criteria-9" class="last-section__label">Authorized Leaves</label>
              <div class="dropdown">
                <select class="dropdown__menu">
                  <option value="" selected>Select One</option>
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                  <option value="option3">Option 3</option>
                </select>
                <button class="dropdown__button">Options</button>
              </div>
            </div>
          </div>
          
          </div>
</div>
<div class="last-section__textarea-wrapper">
<div class="last-section__textarea-header">Comments (Add details not described above)</div>
<textarea class="last-section__textarea"></textarea>
</div>
<div class="last-section__buttons">
<button class="last-section__button">Create SAF</button>
<button class="last-section__button">Cancel</button>
</div>

  </div>
</div>