<div class="student-details">
    <div class="student-details__row">
      <div class="student-details__col">
        <h2 class="student-details__title">Term</h2>
        <p class="student-details__value">{{df.term}}</p>
      </div>
      <div class="student-details__col">
        <h2 class="student-details__title">Program</h2>
        <p class="student-details__value">{{df.programCode}}</p>
      </div>
      <div class="student-details__col">
        <h2 class="student-details__title">Program Name</h2>
        <p class="student-details__value">{{df.programDesc}}</p>
      </div>
      <div class="student-details__col">
        <h2 class="student-details__title">Status</h2>
        <p class="student-details__value">{{df.status}}</p>
      </div>
      <div class="student-details__col">
        <h2 class="student-details__title">Standing</h2>
        <p class="student-details__value">{{df.academicStanding}}</p>
      </div>
    </div>
  </div>
  