<!-- <div class="mt-3" style="padding-left: 5%; padding-right: 5%">
  <h4>
    <div class="student-info">
      <div class="student-info__image-container">
        <img src="https://via.placeholder.com/150x150" alt="student picture" />
      </div>
      <div class="student-info__details">
        <h1 class="student-info__name">{{ df.firstName }} {{ df.lastName }}</h1>
        <p class="student-info__email">{{ df.email }}</p>
        <p class="student-info__enrollment-date">
          Humber Number : {{ df.humberId }}
        </p>
        <p class="student-info__enrollment-date">
          Additional ID : {{ df.additionalId }}
        </p>
      </div>
    </div>
  </h4>
</div> -->
<style>
  .module-container {
    max-width: 85%;
    margin: 0 auto;
    padding: 0 15px;
  }
</style>
<section style="background-color: #ffffff">
  <div class="module-container py-5">
    <div>
      <div class="row" style="background-color: #eee; height: 400px">
        <div
          class="col-sm-3"
          style="background-color: #eee; padding-left: 10px; padding-top: 20px"
        >
          <div
            class="mb-3"
            style="
              background-color: #eee;
              max-height: 300%;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <img
              src="https://i.ibb.co/K6WxDtF/Tinyen-RSp.jpg"
              alt="avatar"
              class="img-fluid"
              style="width: 250px; height: 250px; object-fit: cover"
            />
          </div>
        </div>

        <div class="col-sm-9 px-5" style="background-color: #eee">
          <div class="p-3" style="width: 100%">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  {{ df.firstName }} {{ df.middleName }} {{ df.lastName }}
                </p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ df.email }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ df.phones }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Humber Id</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ df.humberId }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Additional Id</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ df.additionalId }}</p>
              </div>
            </div>
          </div>
        </div>

        <!--  -->
        <div>
          <div>
            <h5>
              <table class="table table-info table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">Term</th>
                    <th scope="col" class="text-center">Program</th>
                    <th scope="col" class="text-center">Program Name</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Standing</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table">
                    <th scope="row" class="text-center">{{ df.term }}</th>
                    <td class="text-center">{{ df.program_code }}</td>
                    <td class="text-center">{{ df.program_desc }}</td>
                    <td class="text-center">
                      {{ df.status }}
                    </td>
                    <td class="text-center">{{ df.academicStanding }}</td>
                  </tr>
                </tbody>
              </table>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
