<div class="student-info">
    <div class="student-info__image-container">
      <img src="https://via.placeholder.com/150x150" alt="student picture">
    </div>
    <div class="student-info__details">
      <h1 class="student-info__name">{{df.firstName}} {{df.lastName}}</h1>
      <p class="student-info__email">{{df.email}}</p>
      <p class="student-info__enrollment-date">Humber Number : {{df.humberId}}</p>
      <p class="student-info__enrollment-date">Additional ID : {{df.additionalId}}</p>
    </div>
  </div>
  