<style>
  .form-check-label:hover {
    color: #000000;
    font-size: 1.2em;
    transition: font-size 0.3s ease-in-out;
  }
  .btn:hover {
    outline: 5px solid #0298f4;
    outline-offset: 2px;
    transition: outline-color 0.3s ease-in-out, outline-offset 0.3s ease-in-out;
  }
  .btn:focus {
    outline: 5px solid #058b17;
    outline-offset: 5px;
    transition: outline-color 0.3s ease-in-out, outline-offset 0.3s ease-in-out;
  }
  .module-container {
    max-width: 85%;
    margin: 0 auto;
    padding: 0 15px;
  }
</style>
<br /><br />
<section>
  <div
    class="module-container py-3"
    style="background-color: #ffffff; border-radius: 10px"
  >
    <form (ngSubmit)="onSubmit()">
      <div>
        <div>
          <fieldset>
            <legend
              class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3"
            >
              <i class="fas fa-info-circle"></i>
              <span>
                Choose the appropriate option/s for creating a query!</span
              >
            </legend>
            <h5>
              <div class="row">
                <div class="col">
                  <div class="form-check my-3">
                    <input
                      name="academicStandingChange"
                      class="form-check-input my-2"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault1"
                      [(ngModel)]="formData.academicStandingChange"
                    />
                    <label class="form-check-label" for="flexCheckDefault1"
                      >Academic Standing Change</label
                    >
                  </div>
                  <div class="form-check my-3">
                    <input
                    name="admissions"
                      class="form-check-input my-2"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault2"
                      [(ngModel)]="formData.admissions"
                    />
                    <label class="form-check-label" for="flexCheckDefault2"
                      >Admissions</label
                    >
                  </div>
                  <div class="form-check my-3">
                    <input
                    name="applyRemoveHolds"
                      class="form-check-input my-2"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault3"
                      [(ngModel)]="formData.applyRemoveHolds"
                    />
                    <label class="form-check-label" for="flexCheckDefault3"
                      >Apply/Remove Holds</label
                    >
                  </div>
                  <div class="form-check my-3">
                    <input
                    name="duplicatePerson"
                      class="form-check-input my-2"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault4"
                      [(ngModel)]="formData.duplicatePerson"
                    />
                    <label class="form-check-label" for="flexCheckDefault4"
                      >Duplicate Person</label
                    >
                  </div>
                  <div class="form-check my-3">
                    <input
                    name="gradeChange"
                      class="form-check-input my-2"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault5"
                      [(ngModel)]="formData.gradeChange"
                    />
                    <label class="form-check-label" for="flexCheckDefault5"
                      >Grade Change</label
                    >
                  </div>
                  <div class="form-check my-3">
                    <input
                    name="graduation"
                      class="form-check-input my-2"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault6"
                      [(ngModel)]="formData.graduation"
                    />
                    <label class="form-check-label" for="flexCheckDefault6"
                      >Graduation</label
                    >
                  </div>
                </div>

                <div class="col">
                  <div class="form-check my-3">
                    <input
                    name="registration"
                      class="form-check-input my-2"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault7"
                      [(ngModel)]="formData.registration"
                    />
                    <label class="form-check-label" for="flexCheckDefault7"
                      >Registration</label
                    >
                  </div>
                  <div class="form-check my-3">
                    <input
                    name="resumeTransfer"
                      class="form-check-input my-2"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault8"
                      [(ngModel)]="formData.resumeTransfer"
                    />
                    <label class="form-check-label" for="flexCheckDefault8"
                      >Resume/Transfer</label
                    >
                  </div>
                  <div class="form-check my-3">
                    <input
                    name="transcriptRequests"
                      class="form-check-input my-2"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault9"
                      [(ngModel)]="formData.transcriptRequests"
                    />
                    <label class="form-check-label" for="flexCheckDefault9"
                      >Transcript Requests (for historical records only)</label
                    >
                  </div>
                  <div class="form-check my-3">
                    <input
                    name="withdrawFromCurrentProgram"
                      class="form-check-input my-2"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault10"
                      [(ngModel)]="formData.withdrawFromCurrentProgram"
                    />
                    <label class="form-check-label" for="flexCheckDefault10"
                      >Withdraw from Current Program</label
                    >
                  </div>
                  <div class="form-check my-3">
                    <input
                    name="other"
                      class="form-check-input my-2"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault11"
                      [(ngModel)]="formData.other"
                    />
                    <label class="form-check-label" for="flexCheckDefault11"
                      >Other (Describe below)</label
                    >
                  </div>
                  <div class="form-check my-3">
                    <input
                    name="authorizedLeaves"
                      class="form-check-input my-2"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault12"
                      [(ngModel)]="formData.authorizedLeaves"
                    />
                    <label class="form-check-label" for="flexCheckDefault12"
                      >Authorized Leaves</label
                    >
                  </div>
                </div>

                <fieldset>
                  <legend>Add any additional comments</legend>
                  <div class="form-floating">
                    <textarea
                      class="form-control"
                      placeholder="Leave a comment here"
                      id="floatingTextarea2Disabled"
                      style="height: 200px"
                      name="comments"
                      [(ngModel)]="formData.comments"
                      #commentsInput
                    ></textarea>
                  </div>
                </fieldset>
              </div>
            </h5>
          </fieldset>
          <br />
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button
              class="btn btn-primary btn-lg"
              type="submit"
              name="submit"
              id="create-ticket-btn"
            >
              Create Ticket!
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
