<div class="student-info">
  <div class="student-info__image-container">
    <img src="assets/profile.png" alt="student picture">
  </div>
  <div class="student-info__details">
    <h1 class="student-info__name">Rahul Soni</h1>
    <div class="student-info__grid">
      <p class="student-info__email"><b>Email(s) :</b> rahulsoni@example.com</p>
      <p class="student-info__phone_number"><b>Phone Number :</b> 4377778569</p>
      <p class="student-info__humber_number"><b>Humber Number :</b> N01469295</p>
      <p class="student-info__additional_id"><b>Additional ID :</b> 811240956</p>
    </div>
  </div>
</div>
