<div class="student-info" role="region" aria-label="Student Information">
  <div class="student-info__image-container">
    <img src="assets/profile.png" alt="student picture" role="img">
  </div>
  <div class="student-info__details">
    <h1 class="student-info__name" role="heading" aria-level="1">Rahul Soni</h1>
    <div class="student-info__grid">
      <p class="student-info__email">
        <b>Email(s) :</b> 
        <a href="mailto:rahulsoni@example.com" role="link">rahulsoni@example.com</a>
      </p>
      <p class="student-info__phone_number">
        <b>Phone Number :</b> 
        <a href="tel:4377778569" role="link">4377778569</a>
      </p>
      <p class="student-info__humber_number">
        <b>Humber Number :</b> N01469295
      </p>
      <p class="student-info__additional_id">
        <b>Additional ID :</b> 811240956
      </p>
    </div>
  </div>
</div>
