<div class="student-details">
    <div class="student-details__row">
      <div class="student-details__col">
        <h2 class="student-details__title">ID</h2>
        <p class="student-details__value">12345</p>
      </div>
      <div class="student-details__col">
        <h2 class="student-details__title">Department</h2>
        <p class="student-details__value">Computer Science</p>
      </div>
      <div class="student-details__col">
        <h2 class="student-details__title">Grade</h2>
        <p class="student-details__value">A+</p>
      </div>
      <div class="student-details__col">
        <h2 class="student-details__title">CGPA</h2>
        <p class="student-details__value">3.8</p>
      </div>
    </div>
  </div>
  