<div class="student-details">
    <div class="student-details__row">
      <div class="student-details__col">
        <h2 class="student-details__title">Term</h2>
        <p class="student-details__value">2023</p>
      </div>
      <div class="student-details__col">
        <h2 class="student-details__title">Program</h2>
        <p class="student-details__value">BUS_MGMT_D</p>
      </div>
      <div class="student-details__col">
        <h2 class="student-details__title">Program Name</h2>
        <p class="student-details__value">Business Management</p>
      </div>
      <div class="student-details__col">
        <h2 class="student-details__title">Status</h2>
        <p class="student-details__value">Active</p>
      </div>
      <div class="student-details__col">
        <h2 class="student-details__title">Standing</h2>
        <p class="student-details__value">Good Standing</p>
      </div>
    </div>
  </div>
  