<div class="student-details" role="region" aria-label="Student Details">
  <div class="student-details__row">
      <div class="student-details__col">
          <h2 class="student-details__heading" id="term">Term</h2>
          <p class="student-details__value" aria-labelledby="term">2023</p>
      </div>
      <div class="student-details__col">
          <h2 class="student-details__heading" id="program">Program</h2>
          <p class="student-details__value" aria-labelledby="program">BUS_MGMT_D</p>
      </div>
      <div class="student-details__col">
          <h2 class="student-details__heading" id="programName">Program Name</h2>
          <p class="student-details__value" aria-labelledby="programName">Business Management</p>
      </div>
      <div class="student-details__col">
          <h2 class="student-details__heading" id="status">Status</h2>
          <p class="student-details__value" aria-labelledby="status">Active</p>
      </div>
      <div class="student-details__col">
          <h2 class="student-details__heading" id="standing">Standing</h2>
          <p class="student-details__value" aria-labelledby="standing">Good Standing</p>
      </div>
  </div>
</div>
